<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body bgcolor="pink">
    <a href="/student/home">HOME</a>
    <a href="/student/insert">Insert</a>
    <a href="/student/display">Display</a>
    <hr size="4" color="red">
    <h1>WELCOME TO STUDENT MANAGMENT PAGEE</h1>
    <hr size="4" color="red">
</body>
</html>