<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body bgcolor="yellow">

<a href="/college/home">Home</a>
<a href="/college/about">About us</a>
<a href="/college/course">Courses</a>
<a href="/college/faculty">Our faculty</a>
<a href="/college/contact">Contact us</a>

<hr size="2px",color="red">

<ul>
    <li>vikas sir</li>
    <li>rajesh sir</li>
    <li>qasim sir</li>
</ul>

</body>
</html>